---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if page.heading %}
        <div class="row">
          <div class="col-10">
            {{ page.heading }}
          </div>
          <div class="col-2">
            {% include figure.liquid path=page.sponsor_img class="img-fluid rounded z-depth-1" %}
          </div>
        </div>
      {% else %}
        {{ page.title }}
      {% endif %}
    </h1>
    <p class="post-description">
      {% if page.subheading %}
        {{ page.subheading }}
      {% else %}
        {{ page.description }}
      {% endif %}
    </p>
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>Publications</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
